:root {
    /* Colors */
    /* --blue: rgb(0, 0, 228); */
    /* --red: rgb(228, 0, 0); */
    --blue: rgb(0, 47, 167);
    --red: rgb(167, 47, 0);
    --black: rgb(5, 5, 5);
    --white: rgb(250, 250, 250);
    --grey: rgb(167, 167, 167);


}