.offline-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    color: var(--black);
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transform: translateY(100%);
    transition: transform 0.8s ease;
}

.offline-screen.visible {
    transform: translateY(0);
}

.main-container {
    background-color: aqua;
    font-size: 36px;
    text-align: center;
    max-width: 80%;
    line-height: 1.5;
}